/*Responsiveness*/
/*Common Styles*/

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 25px auto;
  padding: 20px;
  background-color: #afafaf;
  border-radius: 25px;
  text-align: center;
}
.title {
  margin-top: 40px;
  color: #2d0d4b;
  font-size: 2rem;
}
.text {
  font-size: 1.2rem;
}
.hero-img img {
  /* border: 2px solid black; */
  border-radius: 25px;
  height: 350px;
  margin: 25px 0;
}
.resume-btn {
  height: 40px;
  width: 250px;
  margin: 10px 0;
  border-radius: 20px;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .resume-btn {
    height: 40px;
    width: 25%;
    margin: 10px 0;
    border-radius: 20px;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  ...;
} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 60%;
    margin: 25px auto;
    padding: 20px;

    border-radius: 20px;
    background-color: #afafaf;
  }
  .hero-img img {
    /* border: 2px solid black; */
    border-radius: 25px;
    height: 350px;
  }
  .profile {
    margin: 10px;
  }
  .title {
    font-size: 2.5rem;
  }
  .text {
    font-size: 1.2rem;
  }
  .resume-btn {
    height: 40px;
    width: 30%;
    margin: 10px 0;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    background-color: #7823c7;
    cursor: pointer;
  }
  .resume-btn:hover {
    background-color: #b581e6;
  }
}
