@media only screen and (max-width: 600px) {
  .main-head {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #3b1707;
  }
  .skills-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: auto;
    padding: 20px;
    row-gap: 10px;
    border-radius: 20px;
    background-color: #afafaf;
  }
  .skill-img {
    height: 60px;
    width: 70px;
    margin: 15px;
  }
  .skill {
    border: 3px solid #20240b;
    border-radius: 20px;
    text-align: center;
    max-height: 350px;
  }
  .title {
    font-weight: bold;
  }
}
@media only screen and (min-width: 600px) {
  .main-head {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #3b1707;
  }
  .skills-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid #22df11; */
    width: 60%;
    margin: auto;
    padding: 20px;
    row-gap: 10px;
    border-radius: 20px;
    background-color: #afafaf;
  }
  .skill-img {
    height: 60px;
    width: 70px;
    margin: 15px;
  }
  .skill {
    border: 3px solid #20240b;
    border-radius: 20px;
    text-align: center;
    max-height: 350px;
  }
  .title {
    font-weight: bold;
  }
}
@media only screen and (min-width: 768px) {
  .main-head {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #3b1707;
  }
  .skills-cont {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
    column-gap: 20px;
    row-gap: 30px;
    width: 50%;
    margin: 25px auto;
    padding: 15px;
    border-radius: 20px;
    background-color: #afafaf;
  }
  .skill-img {
    height: 80px;
    width: 90px;
    margin: 10px;
  }
  .skill {
    border: 3px solid #20240b;
    border-radius: 20px;
    text-align: center;
  }
  .title {
    font-weight: bold;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .main-head {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #3b1707;
  }
  .skills-cont {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    column-gap: 30px;
    row-gap: 30px;
    width: 40%;
    margin: 25px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #afafaf;
  }
  .skill-img {
    height: 60px;
    width: 70px;
    margin: 15px;
  }
  .skill {
    border: 3px solid #20240b;
    border-radius: 20px;
    text-align: center;
  }
  .title {
    font-weight: bold;
    font-weight: 1rem;
  }
}
